@media screen and (max-width:852px) {
    nav{
      position:relative;
      top: 0;
      left: 0;
      right: 0;
      height: 85px;
      background-color: var(--background2);
      border-bottom: 2px solid var(--itemcolor) ;
    }
    :root{
      --padding:1.5%
    }
    html{
      font-size: 13px;
    }
    .myimgs{
      display: none;
    }
    nav > a{
      display:none;
    }
  
    .maintext{
      bottom: 0;
    }
    .media{
      margin-top: 100px;
    }
  
    .img2{
      display: none;
    }
    .skills{
      top:-22px
    } 
}
@media screen and (max-width:437px) {
  .li{
    display: none;
  }
}
@media screen and (max-width:300px) {
  
}