@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body{
    background-color: #1e2022;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul li{
    display: inline-block;
    margin: 1rem;
}
nav{
    padding-top:2.2rem ;
    padding-left:var(--padding) ;
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.a{
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
}
a:hover{
    color:red;
}
.minu{
    list-style-type: none;
    display: inline-block;
    margin: 1rem;
}
#home{
    margin: 0;
    padding: 0;
    background-color:#1e2022;
}
h2{
    font-size: 2.2rem;
    letter-spacing: .12rem;
    cursor:pointer
}
h1{
    font-size: 4.2rem;
    margin: 1.7rem 0;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.25rem;
    color: #581e1e;
}
.itemcolortext{
    color:#ff3636;
}
.ali{
    color:#ffffffff
}
.h1{
    color: #ff3636;
}
#h1{
    color: #ffffff;
}

.textcontainer{
    width: 75%;
    border: #ffffff 3px solid;
    border-radius: 6px;
    margin-left: 4%;
}
.first-content{
    margin-bottom: 17px;
}
.second_text{
    margin-bottom: 17px;
}
.h2{
    color: cyan;
}
.third_text{
    margin-bottom: 17px;
}
.maincontent{
    color:bisque;
    margin: 7px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.maincontent2{
    color:bisque;
    margin: 7px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.maincontent3{
    color:bisque;
    margin: 7px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.imgs3 img{
    height:90%;
    width:20%;
    margin-left:10.666666%
}
.s4kills{
    color:#ff3636;
}
.h100{
    text-align: center;
}
:root{
    --backgroundliner: #7e7e7e;
    --backgroundcolorlinear:#174e72;
    --ligtcolr:#ffffffff;
    --itemcolor:#ffffffff;
    --padding:7%;
    --background2:#1e2022;
    --color1:#ff3636;
  }
html{
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
}
.home{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #1e2022;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}
.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ziad{
    color:#dfc922;
}
.maintext{
    position: relative;
    bottom: 70px;
}
.media{
    margin-top: 3.7rem;
}
.media img{
    margin-right: 1.7rem;
    width: 3rem;
    transition:0.5s;
}
.media img:hover{
    transform: scale(1.3);
}
.myimgs{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}
.myimgs img{
    position: absolute;
    height: 100%;
    transform: translateX(-50%);
    left:50%;
    bottom:0;
    transition: bottom 1s, left 1s;
}
.myimgs:hover .background{
    bottom: 40px;
}
.myimgs:hover .myphoto{
    left: 35%;
}
.Ali2{
    color: rgb(255, 255, 255);
}
.media .mediaimg{
    width:4rem;
}
.ziad{
    color:#dfc922;
}
.alo{
    color:#dfc922;
}
.color2{
    color: #ffffff;
}
.ziad3{
    color: black;
}
@media screen and (max-width:852px) {
    nav{
      position:relative;
      top: 0;
      left: 0;
      right: 0;
      height: 85px;
      background-color: var(--background2);
      border-bottom: 2px solid var(--itemcolor) ;
    }
    :root{
      --padding:1.5%
    }
    html{
      font-size: 13px;
    }
    .myimgs{
      display: none;
    }
    nav > a{
      display:none;
    }
  
    .maintext{
      bottom: 0;
    }
    .media{
      margin-top: 100px;
    }
  
    .img2{
      display: none;
    }
    .skills{
      top:-22px
    } 
}
@media screen and (max-width:437px) {
  .li{
    display: none;
  }
}
@media screen and (max-width:300px) {
  
}