:root{
    --backgroundliner: #7e7e7e;
    --backgroundcolorlinear:#174e72;
    --ligtcolr:#ffffffff;
    --itemcolor:#ffffffff;
    --padding:7%;
    --background2:#1e2022;
    .h100{
        text-align: center;
      }    --color1:#ff3636;
  }
h2{
    font-size: 2.2rem;
    letter-spacing: .12rem;
    cursor:pointer
}
h1{
    font-size: 4.2rem;
    margin: 1.7rem 0;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.25rem;
    color: #581e1e;
}
html{
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.skills{
    background-color: #323232;
    position: relative;
    top:-27px;
}
.h100{
    text-align: center;
}
.s4kills{
    color:#ff3636;
}
.imgs3 img{
    height:90%;
    width:20%;
    margin-left:10.666666%
}